@model IEnumerable<StarterMvc.Web.Core.Models.ApplicationUser>
@{
    ViewBag.Title = "Security Management";
    ViewBag.TitleSmall = "Application Security Management";
}
<!-- Content Header (Page header) -->
<ol class="breadcrumb">
    <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
    <li class="active"><i class="glyphicon glyphicon-th-list"></i> Users</li>
    @*<h2>
            Users
            <small>Control panel</small>
        </h2>*@
</ol>

<h2 class="box-title">Users</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="users">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document)
            .ready(function () {
                $("#users").dataTable();
            });
    </script>
}
