@model IEnumerable<StarterMvc.Web.Core.Models.DocumentType>

@{
    ViewBag.Title = "ADMS";
    ViewBag.TitleSmall = "Administration Documents Management System";
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}

<h2>Document Types</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover" id="documenttypes">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>
    </thead>
    @*<tfoot>
        <tr>
            <th>Code</th>
            <th>Description</th>            
        </tr>
    </tfoot>*@
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>

        }
    </tbody>

</table>
@section scripts
{
    <script>
        $(document)
            .ready(function () {               
                var table = $('#documenttypes')
                    .DataTable({
                        dom: 'lBfrtip',
                        lengthChange: true,                        
                        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],                        
                        buttons: [
                        {
                            extend: 'excelHtml5',
                            text: '<i class="fa fa-file-excel-o"> Excel</i>',
                            title: 'Document Types'
                        },
                        {
                            extend: 'pdfHtml5',
                            text: '<i class="fa fa-file-pdf-o"> Pdf</i>',
                            download: 'open',
                            orientation: 'landscape',
                            pageSize: 'LEGAL'
                        },
                        {
                            extend: 'csvHtml5',
                            text: '<i class="fa fa-file-text-o"> Csv</i>',
                            title: 'Document Types'
                        },
                        {
                            extend: 'copyHtml5',
                            text: '<i class="fa fa-files-o"> Copy</i>'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fa fa-print"> Print</i>'
                        }
                        //,
                        //{
                        //    extend: 'colvis',
                        //    text: 'Columns'
                        //}
                        ]
                    });

                table.buttons()
                    .container()
                    .appendTo('#documenttypes_wrapper .col-sm-6:eq(0)');

                //// Search
                //// Setup - add a text input to each footer cell
                //$('#documenttypes tfoot th').each(function () {
                //    var title = $(this).text();
                //    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                //});

                //// Apply the search
                //// Apply the filter
                //table.columns().eq(0).each(function (colIdx) {
                //    $('input', table.column(colIdx).footer()).on('keyup change', function () {
                //        table
                //            .column(colIdx)
                //            .search(this.value)
                //            .draw();
                //    });
                //});
            });
    </script>
}
