@using StarterMvc.Web.Models
@model StarterMvc.Web.Models.LoginViewModel

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "";
}

@*<h2>@ViewBag.Title.</h2>*@
<div class="login-box">
    <div class="login-logo">
        <a href="#"><img src="~/Content/Images/logo_SixConstruct.png"/></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                        @*<div class="col-md-10">*@
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                    <div class="form-group has-feedback">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @*<div class="col-md-10">*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        @*</div>*@
                    </div>
                    <div class="row">
                        <div class="col-xs-8">
                            
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                               
                                </div>
                    </div><br/>
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat" />
                                </div>
                            </div>
                            @*<p>
                                @Html.ActionLink("Register a new user?", "Register")
                            </p>*@
                            <p>
                                @Html.ActionLink("Forget your password?", "ForgotPassword")
                            </p>
                            }
                </section>
        </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}